<!-- ==========  HEADER ========== -->
<header id="header" class="header">
  <div class="header__container">
    <div class="header__left">
      <!-- Left panel (Menu icon for mobile) -->
      <button class="header__menu-btn" aria-label="Toggle menu">
        <img
          src="../assets/icons/header/hamburger.svg"
          alt="Menu Icon"
          class="header__menu-icon"
        />
      </button>

      <!-- Left panel (Menu list for desktop) -->
      <nav class="header__nav">
        <ul class="header__nav-list">
          <li class="header__nav-item">
            <a
              href="/homepage"
              class="header__nav-link header__nav-link--active"
              >Home</a
            >
          </li>
          <li class="header__nav-item">
            <a href="/menupage/index.html" class="header__nav-link">Menu</a>
          </li>
          <li class="header__nav-item">
            <a href="/blogpage/index.html" class="header__nav-link">Blog</a>
          </li>
          <li class="header__nav-item">
            <a
              href="/coming-soon-page/coming-soon.html"
              class="header__nav-link"
              >Pages</a
            >
          </li>
          <li class="header__nav-item">
            <a href="/contact-us-1/index.html" class="header__nav-link"
              >Contact</a
            >
          </li>
        </ul>
      </nav>
    </div>

    <!-- Center (Logo) -->
    <div class="header__center">
      <a href="#" class="header__logo">
        <img src="../assets/icons/header/nav-vect.svg" alt="Restaurant Logo" />
      </a>
    </div>

    <!-- Right (Nav links + Status + CTA) -->
    <div class="header__right">
      <div class="header__status">
        <span id="current-time"></span> we're open
      </div>

      <a href="#reservation" class="header__btn">Table Reservation</a>
    </div>
  </div>
</header>
