<!-- ==========  HEADER ========== -->
<header id="header" class="header">
  <div class="header__container">
    <div class="header__left">
      <!-- Left panel (Menu icon for mobile) -->
      <button class="header__menu-btn" aria-label="Toggle menu">
        <img
          src="/assets/icons/icon-header/hamburger.svg"
          alt="Menu Icon"
          class="header__menu-icon"
        />
      </button>

      <!-- Left panel (Menu list for desktop) -->
      <nav class="header__nav">
        <ul class="header__nav-list">
          <li class="header__nav-item">
            <a href="/index.html" class="header__nav-link" data-i18n="nav.home"
              >Home</a
            >
          </li>
          <li class="header__nav-item">
            <a
              href="/menupage/index.html"
              class="header__nav-link"
              data-i18n="nav.menu"
              >Menu</a
            >
          </li>
          <li class="header__nav-item">
            <a
              href="/blogpage/index.html"
              class="header__nav-link"
              data-i18n="nav.blog"
              >Blog</a
            >
          </li>
          <li class="header__nav-item">
            <a
              href="/coming-soon-page/index.html"
              class="header__nav-link"
              data-i18n="nav.order"
              >Order</a
            >
          </li>
          <li class="header__nav-item">
            <a
              href="/contact-us-page/index.html"
              class="header__nav-link"
              data-i18n="nav.contact"
              >Contact</a
            >
          </li>
        </ul>
      </nav>
    </div>

    <!-- Center (Logo) -->
    <div class="header__center">
      <a href="#" class="header__logo">
        <img src="/assets/icons/icon-header/nav-vect.svg" alt="Restaurant Logo" />
      </a>
    </div>

    <!-- Right (Nav links + Status + CTA) -->
    <div class="header__right">
      <div class="header__status">
        <span id="current-time"></span>
        <span data-i18n="header.status_open">we're open</span>
      </div>

      <a
        href="/index.html#reservation"
        class="header__btn"
        data-i18n="header.cta"
        >Table Reservation</a
      >
    </div>
  </div>
</header>
