#service-features {
  display: flex;
  justify-content: center; /* căn giữa theo chiều ngang */
  align-items: center;     /* căn giữa theo chiều dọc */
  gap: 5rem;
  padding: 5rem 1.5rem; /* trên dưới 5rem, trái phải 24px */
  width: 100%;
  max-width: 1536px;   /* theo chuẩn Tailwind 2xl */
  margin-left: auto;
  margin-right: auto;
  min-height: 664px;
 
}

#service-features .service-column {
  display: flex;
  flex-direction: column;
  gap: 3.75rem;
  text-align: center;
  width: 294px;
}

#service-features .service-item {
  width: 100%;
  min-height: 222px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 0.625rem;
}

#service-features .service-image {
  display: flex;
  justify-content: center;
  align-items: center;
}
#service-features .service-item .icon {
  width: 70px;
  height: 70px;
  margin-bottom: 0.9375rem;
}

#service-features .service-item h4 {

  margin-bottom: 0.5rem;
}



#service-features .service-image img {
  max-width: 350px;
  border-radius: 12px;
}
