

/* Responsive (tablet, mobile) */
@media (max-width: 1024px) {
  .stats-container {
    flex-direction: row;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-items: center; /* căn giữa mỗi item */
  }
}

@media (max-width: 768px) {
  .stats-container {
    flex-direction: column;
    align-items: center;
  }
}
