:root {
/* Font family */
  --font-body: 'Plus Jakarta Sans', sans-serif;
  --font-heading: 'Libre Bodoni', serif;

/* Font size */
  --font-size-body: 16px;
  --line-height-body: 26px;
  --font-weight-regular: 400;


  --font-size-h2: 32px;
  --line-height-h2: 40px;
  --font-weight-h2: 500;
  

/* Colors */
  --color-white: #ffffff;
  --color-white-80: rgba(255, 255, 255, 0.8);
  --color-dark-orange: #FB8F2C;


}

* {
  box-sizing: border-box;
}

body {
  background-color: #000000;
  overflow-x: hidden;
  margin: 0;
}

/* Body text (default) */
body, p {
  font-family: var(--font-body);
  font-size: var(--font-size-body);
  line-height: var(--line-height-body);
  font-weight: 400;
  color: var(--color-white-80);
}

/* Heading h2 */
h2 {
  font-family: var(--font-heading);
  font-size: var(--font-size-h2);
  line-height: var(--line-height-h2);
  font-weight: 700;
  color: var(--color-white);
}
