html {
  font-size: 16px;
}

:root {
/* Font family */
  --font-body: 'Plus Jakarta Sans', sans-serif;
  --font-heading: 'Libre Bodoni', serif;
/* Body */
--font-size-body: 1rem; 
--line-height-body: 1.625;
--font-weight-body: 400;

/* H2 */
--font-size-h2: 2rem;
--line-height-h2: 1.25;
--font-weight-h2: 500;

/* H4 */
--font-size-h4: 1.875rem;
--line-height-h4: 1.333;
--font-weight-h4: 500;

/* Colors */
  --color-white: #ffffff;
  --color-white-80: rgba(255, 255, 255, 0.8);
  --color-dark-orange: #FB8F2C;


}
body
{
  background: #111114
}
/* Body text (default) */
body, p {
  font-family: var(--font-body);
  font-size: var(--font-size-body);
  line-height: var(--line-height-body);
  font-weight: var(--font-weight-body);
  color: var(--color-white-80);
}

/* Heading h2 */
h2 {
  font-family: var(--font-heading);
  font-size: var(--font-size-h2);
  line-height: var(--line-height-h2);
  font-weight: var(--font-weight-h2);
  color: var(--color-white);
}
h4 {
  font-family: var(--font-heading);
  font-size: var(--font-size-h4);
  line-height: var(--line-height-h4);
  font-weight: var(--font-weight-h4);
  color: var(--color-white);
}