/* ========== 2. HERO / BANNER ========== */
.hero {
  position: relative;
  display: flex;
  width: 100%;
  min-height: calc(90vh - 114px);
  padding: 2rem 4rem;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transform: translate(0, -20px)
}

.hero__container {
  display: flex;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.hero__content {
  position: relative;    /* tạo stacking context riêng */
  z-index: 2;            /* đẩy content lên trên */
  max-width: 650px;
  text-align: center;
}

.hero__subtitle {
  margin-bottom: 1rem;
  font-size: 1.125rem;
  color: var(--text-secondary-color);
}

.hero__title {
  margin-bottom: 1.5rem;
  font-family: var(--font-heading);
  font-size: 5rem;
  font-weight: 700;
  line-height: 1.1;
  color: var(--text-color);
}

.hero__description {
  margin-bottom: 2.5rem;
  font-size: 1rem;
  line-height: 1.6;
  color: var(--text-secondary-color);
}

.hero__view-more-btn {
  display: inline-block;
  padding-bottom: 0.3rem;
  border-bottom: 1px solid #FB8F2C; /* underline cam */
  font-size: 1rem;
  font-weight: 500;
  color: #FB8F2C; /* chữ cam */
  text-decoration: none;
  transition: all 0.3s ease;
}

.hero__view-more-btn:hover {
  transform: translateY(-2px);
  color: #e57c1f; /* cam đậm hơn khi hover */
  border-bottom-color: #e57c1f;
}

.hero__image-wrapper {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 28%;
  max-width: 450px;
  z-index: 1;            /* giữ hình ở dưới */
}

.hero__image-wrapper--left {
  left: 0;
}

.hero__image-wrapper--right {
  right: 0;
}

.hero__image {
  width: 100%;
  height: auto;
  display: block;
}

@media (max-width: 728px) {
  .hero__image-wrapper {
    display: none;
  }
}

/* Responsive */
@media (max-width: 1024px) {
  .hero {
    min-height: calc(20vh - 14px);
    padding: 2rem;
  }
  .hero__content {
    max-width: 550px;
  }
  .hero__title {
    font-size: 3.5rem;
  }
}

@media (max-width: 480px) {
  .hero__title {
    font-size: 2.75rem;
  }
  .hero__subtitle,
  .hero__description {
    font-size: 0.9rem;
  }
}
