/* =============================
 * Layout / Container Section
 * ============================= */
.container {
  /* Box model */
  max-width: 1536px;
  width: 100%;
  margin: 0 auto;
  padding: 1rem 1.5rem;
  box-sizing: border-box;
}

/* =============================
 * Responsive Design
 * ============================= */
@media (min-width: 40rem) {
  .container {
    /* Box model */
    padding: 1.5rem 2rem;
  }
}

@media (min-width: 48rem) {
  .container {
    /* Box model */
    padding: 1.75rem 3rem;
  }
}

@media (min-width: 96rem) {
  .container {
    /* Box model */
    padding: 2rem 3rem;
  }
}
